@import url(../../root.scss);

.edit-profile{
    border: 1px solid transparent;
    height: 100vh;
    .box-imgUser{
        width: 100px;
        height: 100px;
        margin: 32px auto 16px;
        display: flex;
        .imgUser{
            width: 100%;
            height: 100%;
        }
    }
    .form-edit{
        padding: 16px;
        display: grid;
        label{
            margin: 24px 0 16px;
            font-family: sans;
            font-size: 16px;
        }
        input{
            height: 32px;
            border-radius: 8px;
            outline: none;
            border: 1px solid var(--color-grey);
        }
        .submit-form{
            margin: 24px 0;
            // height: 32px;
            border-radius: 8px;
            background: var(--color-green);
            color: var(--color-white);
            border: 1px solid transparent;
            font-family: sans;
            font-size: 16px;
            font-weight: bold;
            padding: 8px;
        }
    }
    
}