.slider{
    // border: 1px solid black;
    margin: 16px 16px 0;
    :where(.css-dev-only-do-not-override-j9bb5n).ant-carousel .slick-dots-bottom {
        bottom: 10px !important;
    }
    .bg-slider{
        width: 100%;
        height: 100%;
    }
    .item-slider{
        margin: 0 !important;
    }
    .icon-health{
        width: 100px;
        height: 20px;
        margin: auto;
        display: flex;
    }
    .rotate{
        transform: rotate(180deg);
    }
    :where(.css-dev-only-do-not-override-j9bb5n).ant-carousel .slick-slider .slick-list{
        border-radius: 8px !important;
    }
}