@font-face {
    font-family: sans;
    src: url(./assets/font/IRANSans.ttf);
}

:root{
    --color-green: #005c1f;
    --color-orange: #fa9e15;
    --color-white: #ffffff;
    --color-grey: #878787;
    --color-odd-list: #d2d2d2;
}